// Color utilities
// stylelint-disable block-opening-brace-space-before

.bg-gray-light { background-color: $bg-gray-light !important; }

.bg-white      { background-color: $bg-white !important; }

/* Set the text color to $text-gray-dark */
.text-gray-dark     { color: $text-gray-dark !important; }
